# Dependencies
node_modules/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Build artifacts
dist/
build/
*.zip

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
